@import url("https://fonts.googleapis.com/css2?family=Lato:wght@300;400;700&display=swap");
@import "tokens.css";

html {
  font-family: var(--font-family);
  box-sizing: border-box;
}

body {
  margin: 0;
}

input,
textarea,
button {
  font-family: inherit;
}

.content {
  max-width: 800px;
  margin: 0 auto;
  padding: 20px;
}

.button-primary {
  cursor: pointer;
  font-size: 14px;
  line-height: 16px;
  border-radius: 5px;
  border: none;
  padding: var(--button-padding);
  background-color: var(--button-primary-background);
  color: var(--button-primary-text);
  text-decoration: none;
}

.button-primary:hover {
  background-color: var(--button-primary-background-hover);
}

.preview {
  border: 1px solid hsla(203, 50%, 30%, 0.15);
  box-shadow: rgba(0, 0, 0, 0.1) 0 1px 3px 0;
  border-radius: 5px;
  overflow: hidden;
  background-color: var(--button-primary-background);
}

.preview-component {
  padding: 20px;
}

.preview-code {
  color: white;
  background: black;
  padding: 10px 20px;
}

/* Basic side-oppsett */

.page {
  height: 100vh;
  display: grid;
  grid-template-rows: auto 1fr;
}

.top-bar {
  background-color: var(--surface-default);
}

.main {
  background-color: var(--surface-alt);
}

.main-centered {
  display: grid;
  place-items: center;
}
